---
import AuthLayout from "@/layouts/AuthLayout.astro";
import RegisterForm from "@/components/auth/RegisterForm";
import i18next from "i18next";
---

<AuthLayout title={i18next.t("registerPage.title")}>
	<RegisterForm client:load />
	<div class="mt-4 text-center text-sm">
		{i18next.t("registerPage.prompt")}
		<a href="/login" class="underline"> {i18next.t("registerPage.action")} </a>
	</div>
</AuthLayout>
