---
import AuthLayout from "@/layouts/AuthLayout.astro";
import LoginForm from "@/components/auth/LoginForm";
---

<AuthLayout title="Login">
	<LoginForm client:load />
	<div class="mt-4 text-center text-sm">
		Don't have an account?
		<a href="/register" class="underline"> Sign up </a>
	</div>
</AuthLayout>
