---
import AuthLayout from "@/layouts/AuthLayout.astro";
import RegisterForm from "@/components/auth/RegisterForm";
---

<AuthLayout title="Register">
	<RegisterForm client:load />
	<div class="mt-4 text-center text-sm">
		Already have an account?
		<a href="/login" class="underline"> Sign in </a>
	.</div>
</AuthLayout>
